[ui-view].ng-enter,
[ui-view].ng-leave {}

[ui-view].ng-enter {
  z-index: 1 !important;
  transition: all 300ms ease-out;
}

[ui-view].ng-leave {
  z-index: 0 !important;
}

[ui-view].ng-enter {
  opacity: 0;
  transform: translateY(25px);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

[ui-view].ng-leave {}

[ui-view].ng-leave-active {}

.css-loader {
  position: relative;
  display: block;
  .copy {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -50px;
    font-size: 12px;
    color: rgba(0,0,0,.85);
    animation: fade .5s ease-in-out;
    animation-iteration-count:infinite;
  }
  .pulse {
    border:3px solid rgba(0,0,0,.85);;
    border-radius:30px;
    height:30px;
    left:50%;
    margin:-15px 0 0 -15px;
    opacity:0;
    position:absolute;
    top:50%;
    width:30px;

    animation: pulsate 1s ease-out;
    animation-iteration-count:infinite;
   }
}

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
