.table-scorecard {

  .table-responsive {
    border-right: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    table {
      border-right: none;
      border-left: none;
      th {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  .panel-body.result-body {
    padding: 3px;
    table {
      margin-bottom: 0;
    }
  }

  thead {
    th {
      @extend .bg-info;
      padding-right: 10px;
      padding-left: 10px;
    }
    tr.group {
      th {
        @extend .text-primary;
        background: none;
      }
    }
  }

  th, td {

    @extend .text-center;

    &:first-child {
      @extend .text-left;
      border-left: none;
      padding-left: 10px;
    }

    &:last-child {
      border-right: none;
    }

  }

}
